<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="author" content="pm:xxx,designer:yyy,webRebuilder:<%= authorName %>,team:MXD,<%= creatTime %>"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>首页--手机QQ浏览器</title>
    <link rel="stylesheet" href="../css/g.css" media="screen"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="http://source1.qq.com/wsd/html5.js"></script>
    <![endif]-->
</head>
<body>
<%= codeHeader %>

<div>
    内容区域
</div>

<%= codeFooter %>

<%= codeJS %>
<%= codeAlloydesigner %>
</body>
</html>